# This is a simple .gitignore that will ignore everything
# except this file, and c and h files

#ignore everything
*
*/

#unignore .c, .h, and .sh and this file, and the README
!.gitignore
!README.txt
!*.cpp
!*.h
!*.hpp
!*.sh
!*.obj
!*.bmp
