# This is a simple .gitignore that will ignore everything
# except this file, and cpp and h files

#ignore everything
*
*/

#unignore .cpp, .h, and .sh and this file, Makefile, and the README
!*.bmp
!*.png
!*.cpp
!*.frag
!.gitignore
!*.h
!*.hpp
!*.obj
!README.md
!README.txt
!*.sh
!*.vert
!Makefile
!/screenshots
!/textures
